body {
	background-color: black;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: #ccc; 
}
::-webkit-scrollbar-thumb {
	background-color: #333;
}
div.title {
	margin-top: 50px;
	text-align: center;
	margin-bottom: 50px;
}
.list_box {
	border: 1px solid #ccc;
	padding: 20px;
	height: 250px;
	overflow: hidden;
	box-sizing: border-box;
	display: inline-block;
	text-align: left;
	color: black;
	/*background: linear-gradient(to bottom right,black,grey);*/
	/*background: linear-gradient(to bottom right,orange,red)*/
	/*background: linear-gradient(to bottom right,red,blue);*/
	background: linear-gradient(to bottom right,white,#0c3358);
	margin-left: 20px;
	width: 300px;
	cursor: context-menu;
}
.list_box:hover {
	background: linear-gradient(to top left,white,#0c3358);
}
.sub_info {
	text-align: justify;
	font-weight: bold;
	font-size: 25px;
	margin: 100px;
	padding: 30px;
	margin-top: -20px;
	color: grey;
	border: 4px solid #496681;
}
.contact_us {
	text-align: justify;
	font-weight: bold;
	color: grey;
	font-size: 25px;
	border: 4px solid #496681;
	margin: 100px;
	padding: 10px;
	margin-top: -20px;
}
.developer_block {
	width: 200px;
	background-color: #0c3358;
	padding: 15px;
	position: static;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
h1 {
	color: #ccc;
}
hr {
	margin-bottom: -15px;
}